.burger {
  width: 25px;
  height: 25px;
  background-color: transparent !important;
  border: none;
  position: relative;
  z-index: 3000;
  display: flex;
  flex-direction: column;

  span {
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    display: block;
  }
}
