.availableC {
  margin-top: 120px;
  @media (max-width: 868px) {
    margin-top: 60px;
  }
  @media (max-width: 425px) {
    margin-top: 0px;
  }
  .availableContainer {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    margin-top: 56px;

    .availableItems {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .imageWrapper {
      width: 280px;
      margin-right: 10px;
      &:last-child{
        margin-right: 0px;
      }
      img {
        width: 100%;
      }
    }
  }
}
